<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Items\Column\Name">
        <plugin name="jbrada_link_to_product_in_admin_column_name"
                type="JBrada\AdminOrderProductLinks\Plugin\Block\Adminhtml\Items\Column\Name\LinkToProductInAdmin"/>
    </type>
</config>
